  <div class="footer_2">
  	<div class="footercontainer">
  		<div class="byanamary">
  			<span>Design by anamary</span>
  			<div class="clear"></div>
  		</div>
      <div class="copyright">
        ©2013 TECCLASS 浙ICP备13027377号
      </div>
  	</div>
  </div>
</body>
</html>