<%include header%>
<div class="container mood_container">
	<div class="mood_bg">
		<img src="/images/winter.jpg">
	</div>
	<div class="mood_content">
		<p>心情就好像冬天一样冷寂</p>
		<span>2014-12-16 9:00 Anamary</span>
		<div class="clear"></div>
	</div>
</div>
<%include footer_2%>
