<div class="right">
	<p class="mood_title">心情</p>
	<div class="one_mood">
		<p>时间就像流水，你不多看一眼，她就没有了</p>
		<span>2014/12/16 9:10</span>
		<div class="clear"></div>
	</div>
	<div class="one_mood">
		<p>时间就像流水，你不多看一眼，她就没有了</p>
		<span>2014/12/16 9:10</span>
		<div class="clear"></div>
	</div>
	<a href="/moodlist" class="mood_more">more</a>
	<div class="clear"></div>
</div>