<%include header%>
<div class="container">
	<div class="pageshow">
		<div class="page_top">
			<p class="page_title">闭包学习</p>
			<span class="page_time">2014/12/16</span><span>标签：</span>
			<a href="../tags" class="one_tag">JS</a><a href="../tags" class="one_tag">html</a>
		</div>
		<div class="page_content">
			其实这样讲，很明显，闭包也就这么一回事，平常经常用到的问题，查了一番，firebug一番，以为数据不对，结果用了闭包。这就是我为什么要学习闭包了，防止下次代码写得自己都不知道了。而且面试官也很喜欢问这些问题，不过就是一种写法，取了一个闭（bao）包（皮）的名字，感觉怪怪的。理解完全局和局部的问题后也就这样。
		</div>
		<div class="page_commit">
			
		</div>
	</div>
</div>
<%include footer%>