<%include header%>
<div class="container">
	<div class="pageshow">
		<ul class="page_tags_ul">
			<li>
				<a href="#">123</a>
				<span>2014-12-16</span>
			</li>
			<li>
				<a href="#">hello world</a>
				<span>2014-12-16</span>
			</li>
			<li>
				<a href="#">123</a>
				<span>2014-12-16</span>
			</li>
			<li>
				<a href="#">hello world</a>
				<span>2014-12-16</span>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<%include footer%>