<% include header %>
<div class="container">
	<div class="write_container">
		<div class="write_title">
			<input type="text" class="" placeholder="标题">
		</div>
		<div class="write_content">
			<textarea class="write_text" placeholder="内容"></textarea>
		</div>
	</div>
</div>
<% include footer %>